{% load staticfiles %}
<html>
    <head>
        <title>学校から連絡し太郎</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>    
    <div>
        <h1><a href="/">学校から連絡し太郎</a></h1>
    </div>

<h1>主にここにコンテンツが入ります</h1>


{% for post in posts %}
    <div>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>公開日: {{ post.published_date }}</p>
        <h5><p>{{ post.text|linebreaks }}</p></h5>
        <h2><a href={{post.file_url}}>PDF</a></h2>
    </div>
{% endfor %}


    </body>
</html>
